<html>
    <head>
        <title>TODO App</title>
        <script src="../static/js/script.js"></script> 
    </head>
    <style>
        .hidden {
            display: none;
        }
        ul {
            list-style: none;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 250px;
        }
        li {
            clear: both;
        }
        li button {
            -webkit-appearance: none;
            border: none;
            outline: none;
            color: red;
            float: right;
            cursor: pointer;
            font-size: 20px;
        }
        .lists-wrapper, .todos-wrapper {
            display: inline-block;
            vertical-align: top;
        }
        
    </style>
    <body>
        <div class="todos-wrapper">
            <!--<h4> active_list.name </h4>-->
            <form id="form" method="post" action="/todos/create">
                <input type="text" id="description" name="description" />
                <input type="submit" value="Create" />
            </form>
            <div id="error" class="hidden">Something went wrong</div>
            <uL id="todos">
                {%for d in data%}
                <li>
                    <input type="checkbox" class = "check-completed" data-id = "{{d.id}}" {% if d.completed %} checked {% endif %}/>
                    {{d.description}}
                    <button class="delete-button" data-id="{{ d.id }}">&cross;</button>
                </li>
                {%endfor%}
            </uL>
        </div>
    </body>
    <script>
        let checkboxes = document.querySelectorAll('.check-completed');
        for (let i =0; i<checkboxes.length; i++){
            const checkbox = checkboxes[i];
            checkbox.onchange = function(e){
                console.log('event', e);
                const newCompleted = e.target.checked;
                const todoId = e.target.dataset['id'];
                fetch('/todos/'+ todoId +'/set-completed', {
                    method: 'POST',
                    body: JSON.stringify({
                        'completed' : newCompleted,
                        //'id' : todoId
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then (function(){
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function(){
                    document.getElementById('error').className = '';
                })
            }
        }
        document.getElementById('form').onsubmit = function(e) {
            e.preventDefault();
            //alert(document.getElementById('description').value);
            let desc = document.getElementById('description').value;
            document.getElementById('description').value='';
            //alert(desc);
            fetch('/todos/create', {
                method: 'POST',
                body: JSON.stringify({
                    'description': desc,
                }),
                headers: {
                    'content-type': 'application/json',
                }
            })
            .then(function (response){
                return response.json();
            })
            .then(function(jsonResponse){
                console.log(jsonResponse);
                const liItem = document.createElement('LI');
                liItem.innerHTML = jsonResponse['description'];
                document.getElementById('todos').appendChild(liItem);             
                document.getElementById('error').className = 'hidden';
                //add checkbox
                var x = document.createElement("INPUT");
                x.setAttribute("type", "checkbox");
                //
                let idd = jsonResponse['id'];
                console.log(idd);
                x.setAttribute("class", "check-completed");
                x.setAttribute("data-id", idd);
                //document.getElementById('todos').appendChild(x);
                liItem.insertAdjacentElement('afterbegin',x);
                //
                //add delete button to newly ajax created item
                var xbtn = document.createElement("BUTTON");
                xbtn.setAttribute("class", "delete-button");
                xbtn.setAttribute("data-id", idd);
                liItem.insertAdjacentElement('beforeend',xbtn);
                 
                
                //x.onchange = chck(e);
                //add ajax completed check compatability to newly created item
                const checkboxes1 = document.querySelectorAll('.check-completed');
                for (let i =0; i<checkboxes1.length; i++){
                    if (i == checkboxes1.length - 1){
                        console.log(i);
                        chckbox = checkboxes1[i];
                        //chckbox.onchange = chck(e);
                        chckbox.onchange = function(e){
                            chck(e);
                        }

                        document.getElementById('error').className = 'hidden';
                    }
                    
                }
                //checkboxes1[i].onchange = chck(e);
                //document.getElementById('error').className = 'hidden';

                


                
            })
            .catch(function(){
                document.getElementById('error').className = '';
            })
        }
        //delete an item from loaded ones
        const deleteBtns = document.querySelectorAll('.delete-button');
        for (let i = 0; i < deleteBtns.length; i++) {
            const btn = deleteBtns[i];
            btn.onclick = function(e) {
                deleteItem(e);
                //remove button, li and button without refresh.
                //btn.parentNode.removeChild(btn, );
                btn.parentElement.remove();
            }
        }
    </script>
</html>