<html>
    <head>
        <title>TODO App</title>
    </head>
    <style>
        .hidden {
            display: none;
        }
        ul {
            list-style: none;
        }
    </style>
    <body>
        <form id="form" method="post" action="/todos/create">
            <input type="text" id="description" name="description" />
            <input type="submit" value="Create" />
        </form>
        <div id="error" class="hidden">Something went wrong</div>
        <uL id="todos">
            {%for d in data%}
            <li><input type="checkbox" class = "check-completed" data-id = "{{d.id}}" {% if d.completed %} checked {% endif %}/>{{d.description}}</li>
            {%endfor%}
        </uL>
    </body>
    <script>
        const checkboxes = document.querySelectorAll('.check-completed');
        for (let i =0; i<checkboxes.length; i++){
            const checkbox = checkboxes[i];
            checkbox.onchange = function chck(e){
                console.log('event', e);
                const newCompleted = e.target.checked;
                const todoId = e.target.dataset['id'];
                fetch('/todos/'+ todoId +'/set-completed', {
                    method: 'POST',
                    body: JSON.stringify({
                        'completed' : newCompleted,
                        //'id' : todoId
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .catch(function(){
                    document.getElementById('error').className = '';
                })
            }
        }
        document.getElementById('form').onsubmit = function(e) {
            e.preventDefault();
            //alert(document.getElementById('description').value);
            let desc = document.getElementById('description').value;
            document.getElementById('description').value='';
            //alert(desc);
            fetch('/todos/create', {
                method: 'POST',
                body: JSON.stringify({
                    'description': desc,
                }),
                headers: {
                    'content-type': 'application/json',
                }
            })
            .then(function (response){
                return response.json();
            })
            .then(function(jsonResponse){
                console.log(jsonResponse);
                const liItem = document.createElement('LI');
                liItem.innerHTML = jsonResponse['description'];
                document.getElementById('todos').appendChild(liItem);             
                document.getElementById('error').className = 'hidden';
                //add checkbox
                var x = document.createElement("INPUT");
                x.setAttribute("type", "checkbox");
                //document.getElementById('todos').appendChild(x);
                liItem.insertAdjacentElement('afterbegin',x);
                //
                x.setAttribute("class", "check-completed");
                //x.onchange = chck(e);
                const checkboxes1 = document.querySelectorAll('.check-completed');
                for (let i =0; i<checkboxes1.length; i++){}
                checkboxes1[i].onchange = chck(e);
                document.getElementById('error').className = 'hidden';

                
            })
            .catch(function(){
                document.getElementById('error').className = '';
            })
        }
    </script>
</html>